<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>
 
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <h1 class="mb-5">نحن نؤمن ان جميع الطلاب بأاستطاعتهم ان يفعلو اكثر من مجرد التعليم</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
         
              <div class="col-12 col-md-12 mb-2 mb-md-0">
               
                <%=link_to 'أنظم الينا الان', appointments_path, class: "btn btn-dark text-white "%>   
              </div>
          
            </div>
      </div>
    </div>
  </header>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">كيف يساعدني برنامج اشرحها </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://img.icons8.com/bubbles/2x/question-mark.png" alt="">
            <h5>التشجيع في طرح الأسئلة</h5>
            <p class="font-weight-light mb-0">سيساعدك التدريس في طرح الأسئلة سواء كانت كبيرة أم صغيرة</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Books_Flat_Icon_Vector.svg/1024px-Books_Flat_Icon_Vector.svg.png" alt="">
            <h5>المساعده في التغلب على عقبات التعلم</h5>
            <p class="font-weight-light mb-0">يستهدف المعلم المشكلات على وجه التحديد سواء كانت الكتابة أو الرياضيات أو اللغة أو القراءة</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://www.latutors123.com/wp-content/uploads/2015/12/academic-icon.png" alt="">
            <h5>تحسين الأداء الأكاديمي</h5>
            <p class="font-weight-light mb-0">سيقوم المعلم بإعدادك للاختبارات والامتحانات</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-1 order-lg-2 text-white showcase-img"><%= image_tag("a3.png")%></div> 
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>أشرحها</h2>
          <p class="lead mb-0">  اشرحها برنامج ينم خلاله تعيين كل الطلبه المتفوقين بفهم كل ماده على حده وتعيينهم كمعلمين  وهذا عن طريق فتح برنامج للتواصل بين السائل والمجيب اي تواصل حي بين الطلبه يتم تخصيص ساعات الفراغ لدى الطلاب وتعيينهم كمعلمين ليستطيعو شرح الدروس للمستقبل الاخر   </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img"><%= image_tag("reg.png")%></div> 
        <div class="col-lg-6 my-auto showcase-text">
          <h2>كيفية التسجيل</h2>
          <p class="lead mb-0">بااربع خطوات بسيطة وسهله تستطيع التسجيل كمعلم لأضافة المواد ومتابعه الطلبات او كمتعلم لتبحث عن معلمك وتقوم بالتسجيل  </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img"><%= image_tag("s0.png")%></div> 
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>فرصتك </h2>
          <p class="lead mb-0">فرصتك لتكون جزءا من مدرستنا و الحصول على مبالغ مالية كمعلم! ايضا شهادة خاصة بك! هنا في اشرحها يستطيع المعلمون شرح  المواضيع الرئيسية والمراجعات التي يبحث عنها الطلاب</p>
        </div>
      </div>
    </div>
  </section>

   <!-- Bottom icons -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">ماذا تنتظر ؟</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://cdn1.iconfinder.com/data/icons/artificial-intelligence-color-line-vol-2-1/512/MACHINE_LEARNING-512.png" alt="">
            <h5>ابدا بالتعلم </h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://cdn3.iconfinder.com/data/icons/e-learning-flat-education-technology/512/Schedule_class-512.png" alt="">
            <h5>فم بااختيار الموعد المناسب لك</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://cdn1.iconfinder.com/data/icons/corporate-business-color-iconset/48/search-512.png" alt="">
            <h5>ابحث عن معلمك </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <footer>
       <div class="footer-Created text-center">Created with &hearts; by <span class="name">Faisal</span>
       <a href="https://twitter.com/Faisal_fj_90?lang=ar" target="_blick">My Twitter Page</a>  
      <div class="footer-copyright text-center py-3"> Copyright © 2019-2020
        <a href="https://mdbootstrap.com/education/bootstrap/"></a> <br>
        <%# <%=link_to 'Back to top', root_path, class: "btn btn-primary" %> 
         </div>
      </div>
    </footer>
    <!-- Footer -->
  </main>
</body>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>